In [124]:
import pandas as pd
# pd.set_option('display.max_colwidth', None) # dosplay full dataframe in output
# pd.set_option('display.max_rows', None) # instead, save output to .txt file
import numpy as np
from datetime import datetime, timedelta



def set_job(data,day,str_start,str_end,job):
    start = datetime.strptime(str_start,'%H:%M')
    end = datetime.strptime(str_end,'%H:%M')
    interval = timedelta(minutes=15)
    current = start
    while current <= end:
        data.at[pd.to_datetime(current).time(),day] = job
        current += interval
    return data

days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
time = pd.date_range('00:00','23:00',freq='15T').time
df = pd.DataFrame(columns=days,index=time)

df = set_job(df,'monday','11:30','14:15','IS491')
df = set_job(df,'monday','16:00','17:15','IS471')
df = set_job(df,'monday','19:00','21:45','MIS781')
df = set_job(df,'tuesday','17:30','18:45','ECO773')
df = set_job(df,'tuesday','19:00','21:00','ECO773')
df = set_job(df,'wednesday','11:30','14:15','IS491')
df = set_job(df,'wednesday','16:00','17:15','IS471')
df = set_job(df,'thursday','17:30','18:45','ECO773')
df = set_job(df,'thursday','19:00','21:00','ECO773')
df = set_job(df,'friday','11:30','14:15','MIS761')
df = set_job(df,'friday','15:15','16:30','IS491')
df = set_job(df,'friday','18:00','21:30','MIS761')
for day in days:
    set_job(df,day,'00:00','12:00','sleep')
    set_job(df,day,'12:15','12:45','meal')
    set_job(df,day,'13:00','14:15','swim')
    set_job(df,day,'14:30','15:00','meal')
    # set_job(df,day,'16:45','17:15','meal')
df.fillna('leisure',inplace=True)

goal_work = round(20/3,1) # 20 hours across 3 Courses
goal_course = 3*4 # 3 credits by 4 hours/credit
goal_leisure = 2*(5+4) # 2 hours/day for 5 workdays, and 4 hours/day for 2 workdays

hours = df.stack().value_counts()
hours = (hours*15/60) # convert from 15-min blocks to hours
hours_goals = [8*7,
               4*7,
               22,
               2*5,
               goal_work,goal_work,goal_work,
               goal_course,goal_course]
hours = pd.DataFrame(hours)
hours['goal'] = hours_goals
# hours['goal met?'] = hours > hours['goal'] # Not working
print(hours)
print(f'target hours: {hours["goal"].sum()}')
print(f'excess leisure: {51.50 - goal_leisure}\n')
df[-45:].style.apply(lambda x: ["background: red" if  v == 'leisure' else "" for v in x  ], axis = 1)

         count  goal
sleep    85.75  56.0
leisure  37.25  28.0
meal     10.50  22.0
swim     10.50  10.0
ECO773    7.50   6.7
MIS761    3.75   6.7
IS471     3.00   6.7
MIS781    3.00  12.0
IS491     1.50  12.0
target hours: 160.1
excess leisure: 33.5

         count  goal
sleep    57.75  56.0
leisure  51.50  28.0
meal     22.75   1.0
swim     10.50  10.0
IS491     7.50   6.7
MIS761    6.75   6.7
ECO772    3.00  12.0
MIS781    3.00  12.0
target hours: 132.4

In [16]:

print(df)

         monday tuesday wednesday thursday friday saturday sunday
00:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
00:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
00:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
00:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
01:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
01:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
01:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
01:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
02:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
02:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
02:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
02:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
03:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
03:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
03:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
03:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
04:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
04:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
04:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
04:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
05:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
05:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
05:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
05:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
06:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
06:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
06:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
06:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
07:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
07:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
07:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
07:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
08:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
08:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
08:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
08:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
09:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
09:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
09:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
09:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
10:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
10:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
10:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
10:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
11:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
11:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
11:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
11:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
12:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
12:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
12:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
12:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
13:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
13:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
13:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
13:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
14:00:00    NaN    econ       NaN      NaN    NaN      NaN    NaN
14:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
14:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
14:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
15:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
15:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
15:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
15:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
16:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
16:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
16:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
16:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
17:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
17:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
17:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
17:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
18:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
18:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
18:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
18:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
19:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
19:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
19:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
19:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
20:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
20:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
20:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
20:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
21:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
21:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
21:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
21:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
22:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
22:15:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
22:30:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
22:45:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN
23:00:00    NaN     NaN       NaN      NaN    NaN      NaN    NaN