In [13]:
import pandas as pd
import os
import csv
import json
from zipfile import ZipFile
print(os.getcwd())
print(os.listdir())
def cd():
    path = 'Assignments/'
    path+= input('assignment directory') 
    if path.split('/')[-1] not in os.getcwd():                             
        os.chdir(path)

def extract_markdown(file):
    with open(file,'r') as file:
        notebook = json.load(file)
    
    markdown_cells = [cell['source'] for cell in notebook['cells'] if cell['cell_type'] == 'markdown']

    for i,cell in enumerate(markdown_cells):
        print(''.join(cell))

def initialize_grades(ft):
    name = []
    code = []
    deduction = []
    for file in os.listdir('submissions'):
        print(file)
        if file.endswith(ft):
            name_student = file.split('_')[0]
            name.append(name_student)
            code.append('')
            deduction.append('')
            comments = f'submissions/{name_student}.txt'
            with open(comments,mode='w') as file:
                file.write('')
    grades = pd.DataFrame({'name':name,'code':code,'deduction':deduction})
    return grades

Z:\SynologyDrive\Kona\School\MSDataScience\Graduate Assistantship\IS 335\Tableau\Assignments\Practice Project
['Ashley_Young.png', 'codes.csv', 'comments.txt', 'grades.csv', 'grade_codes.csv', 'grading.ipynb', 'Grading_Notes.txt', 'submissions', 'submissions.zip']

In [30]:
file_types = []
with open('file_types.csv') as file:
    reader = csv.reader(file)
    file_types = next(reader)
print(file_types)

['ipynb', 'twbx']
['ipynb', 'twbx']

In [5]:
# Check for active timeclock session
# Try: Except

# cd()

# # Unzip submissions
# if 'submissions.zip' in os.listdir():
#     with ZipFile('submissions.zip','r') as zip_file:
#         zip_file.extractall('submissions')

header = ['code','deduction_manual','detail']
code = [0]
deduction = [0]
detail = ['Manual']
code.append(1)
deduction.append(0)
detail.append('Full Credit')
for i in range(2,11):
    code.append(i)
    deduction.append('')
    detail.append('')
data = {'code':code,'deduction':deduction,'detail':detail}
codes = pd.DataFrame(data,columns=header).set_index('code')
codes.to_csv('codes.csv')

comments = '1'
comments += '\n'*1 
comments += 'Good job  !' 
comments += '\n'*2
comments +='~'*105+'\n'
for i in range(2,11):
    comments += str(i)
    comments += '\n'*4
    comments +='~'*105+'\n'
with open('comments.txt',mode='w') as file:
    file.write(comments)



# extract_markdown('Assignment 5 Solution.ipynb')

In [18]:
# Read Student grades and comment codes
# Calculate final scores
cd()
def sum_points(keys):
    # print(keys)
    return sum(code_dict.get(key,0) for key in keys)

grades = pd.read_csv('grades.csv')
grades.drop(grades.columns[0],axis=1,inplace=True)
grades['code'] = grades['code'].apply(lambda x: (str(x).split('.') ))
grades['deduction_manual'].fillna(0,inplace=True)
# sum manual deductions in grades.deduction_manual
grades['deduction_manual'] = grades.eval(grades['deduction_manual'])

codes = pd.read_csv('codes.csv')
codes['code'] = codes['code'].apply(lambda x: str(x))

code_dict = dict(zip(codes['code'],codes['deduction']))

grades['deduction_auto'] = grades['code'].apply(sum_points)
# grades['points'] = 20- grades['deduction']
# grades = grades.drop('deduction',axis=1)
grades['points'] = 20 - grades['deduction_manual'] - grades['deduction_auto']
grades

                      name       code deduction_manual  deduction_auto points
0         alemayehutinbite  [2, 3, 4]              0.0               1   19.0
1                alifahima        [1]              0.0               0   20.0
2     benitespachecoselena        [1]              0.0               0   20.0
3               berhesenay        [4]              0.0               0   20.0
4             blancomiguel     [0, 4]              0.0               0   20.0
5          bouddharaamanda        [1]              0.0               0   20.0
6   cabreragarciacatherine        [1]              0.0               0   20.0
7                capilnoah        [1]              0.0               0   20.0
8             chaubenjamin        [5]              0.0              20    0.0
9         deguzmankylenoel        [1]              0.0               0   20.0
10      delaespriellaemily        [6]              0.0               0   20.0
11             dizonjordan        [1]              0.0               0   20.0
12         doloresgabriela        [1]              0.0               0   20.0
13             edracarolei        [1]              0.0               0   20.0
14             floresbryan        [1]              0.0               0   20.0
15             ganimohamed        [1]              0.0               0   20.0
16      garingryejmaverick        [0]              0.0               0   20.0
17             glennjamari        [1]              0.0               0   20.0
18        hajisalimidanial        [1]              0.0               0   20.0
19             kapleralexa        [4]              0.0               0   20.0
20           laderaveeanne        [4]              0.0               0   20.0
21          lantayarandall     [4, 7]              0.0               5   15.0
22            mccalldarryl        [1]              0.0               0   20.0
23            miltonsteven        [1]              0.0               0   20.0
24           montoyadaniel        [1]              0.0               0   20.0
25          moralesroberto        [8]              0.0               0   20.0
26       morenomontoyaluis        [9]              0.0               0   20.0
27       mosergoodwillevan        [1]              0.0               0   20.0
28             nguyentimmy     [1, 3]              0.0               1   19.0
29        oliphantbenjamin        [4]              0.0               0   20.0
30            omernazeerah        [5]              0.0              20    0.0
31          pombuenaarthur        [1]              0.0               0   20.0
32              pyattdrake     [3, 4]              0.0               1   19.0
33            romerodaniel        [1]              0.0               0   20.0
34            sanalilajash        [1]              0.0               0   20.0
35           sevillaalexis        [1]              0.0               0   20.0
36            sharmashreya        [1]              0.0               0   20.0
37           silbergoliver        [1]              0.0               0   20.0
38           smoljanjeremy       [10]              0.0               0   20.0
39           spenceshaneka        [1]              0.0               0   20.0
40           timmonsmeagan        [1]              0.0               0   20.0
41              tranavidan        [1]              0.0               0   20.0
42              valdezalex        [9]              0.0               0   20.0
43                velaisac        [1]              0.0               0   20.0
44          washingtonjada        [1]              0.0               0   20.0
45             whitekaiden        [1]              0.0               0   20.0

In [22]:
test = 4
str(test).split(',')

['4']