In [2]:
import pandas as pd
import os
import csv
import json
from zipfile import ZipFile
print(os.getcwd())
print(os.listdir())

if 'file_types.csv' in os.listdir():
    message = 'file types: \n'
    file_types = {}
    with open('file_types.csv') as file:
        reader = csv.reader(file)
        file_types = next(reader)
    for i in range(len(file_types)):
        message += f'{i}: {file_types[i]}\n'
    print(message)

def cd():
    path = 'Assignments/'
    path+= input('assignment directory') 
    if path.split('/')[-1] not in os.getcwd():                             
        os.chdir(path)

def extract_markdown(file):
    with open(file,'r') as file:
        notebook = json.load(file)
    
    markdown_cells = [cell['source'] for cell in notebook['cells'] if cell['cell_type'] == 'markdown']

    for i,cell in enumerate(markdown_cells):
        print(''.join(cell))

def initialize_grades(ft):
    name = []
    code = []
    deduction = []
    for file in os.listdir('submissions'):
        # print(file[0])
        if file.endswith(f'.{ft}'):
            print(file)
            name_student = file.split('_')[0]
            name.append(name_student)
            code.append('')
            deduction.append('')
            comments = f'submissions/{name_student}.txt'
            with open(comments,mode='w') as file:
                file.write('')
    grades = pd.DataFrame({'name':name,'code':code,'deduction':deduction})
    return grades

Z:\SynologyDrive\Kona\School\MSDataScience\Graduate-Assistantship\IS 335\Tableau\Assignments\Practice Project
['Ashley_Young.png', 'Chapter 01-Project Williams.twbx', 'codes.csv', 'comments.txt', 'file_types.csv', 'grades.csv', 'grade_codes.csv', 'grading.ipynb', 'Grading_Notes.txt', 'submissions', 'submissions.zip', 'whitingjace.txt', '~Chapter 01-Project Williams__15904.twbr']
file types:
0: ipynb
1: twbx

In [36]:
names = []
codes = []
deductions = []
for file in os.listdir('submissions'):
    names.append(file.split('_')[0])
    codes.append('')
    deductions.append('')
grades = pd.DataFrame({'name':names,'code':codes,'deduction_auto':deductions})
grades.to_csv('grades.csv')

In [32]:
file_type = int(input('enter file type from list'))
print(message.split(':')[file_type])

 twbx

In [5]:
# Check for active timeclock session
# Try: Except

# cd()

# # Unzip submissions
# if 'submissions.zip' in os.listdir():
#     with ZipFile('submissions.zip','r') as zip_file:
#         zip_file.extractall('submissions')

header = ['code','deduction_auto','detail']
questions = int(input('Number of Questions'))+1
code = [0]
deduction = [0]
detail = ['Manual']
code.append(1)
deduction.append(0)
detail.append('Full Credit')
for question in questions:
    code.append(f'{question}.1')
    deduction.append('')
    detail.append('')
data = {'code':code,'deduction':deduction,'detail':detail}
codes = pd.DataFrame(data,columns=header).set_index('code')
codes.to_csv('codes.csv')

comments = '1'
comments += '\n'*1 
comments += 'Good job  !' 
comments += '\n'*2
comments +='~'*105+'\n'
for i in range(questions):
    comments += str(i)
    comments += '\n'*4
    comments +='~'*105+'\n'
with open('comments.txt',mode='w') as file:
    file.write(comments)



# extract_markdown('Assignment 5 Solution.ipynb')

In [12]:
# Read Student grades and comment codes
# Calculate final scores
# cd()

points = int(input('Enter point total for assignment'))

def sum_points(keys):
    # print(keys)
    return sum(code_dict.get(key,0) for key in keys)

grades = pd.read_csv('grades.csv')
grades.drop(grades.columns[0],axis=1,inplace=True)
grades['code'] = grades['code'].apply(lambda x: (str(x).split('_') ))
grades['deduction'].fillna(0,inplace=True)
# sum manual deductions in grades.deduction_manual
grades['deduction'] = grades.eval(grades['deduction'])

codes = pd.read_csv('codes.csv')
codes['code'] = codes['code'].apply(lambda x: str(x))

code_dict = dict(zip(codes['code'],codes['deduction_manual']))

grades['deduction_manual'] = grades['code'].apply(sum_points)
# grades['points'] = 20- grades['deduction']
# grades = grades.drop('deduction',axis=1)
grades['points'] = points - grades['deduction_manual'] - grades['deduction']
grades

,name,code,deduction,deduction_manual,points
0,allenkyron,[12.1],0.0,0.0,30.0
1,ambuehlanton,[3.1],0.0,2.0,28.0
2,baptistanicole,[0.1],0.0,0.0,30.0
3,bradfordmalik,[3.1],0.0,2.0,28.0
4,canilaojenalyn,[3.1],0.0,2.0,28.0
5,castanedarodriguezmelissa,[0.1],0.0,0.0,30.0
6,castillojimmy,[3.1],0.0,2.0,28.0
7,chisamjoseph,"[12.2, 15.1]",0.0,1.5,28.5
8,diazcathy,[12.3],0.0,1.0,29.0
9,dulayflorencio,[0.1],0.0,0.0,30.0
10,forlanikyle,"[3.1, 12.3, 12.4]",0.0,4.0,26.0
11,fosterava,"[4.1, 15.2, 9.1]",0.0,6.0,24.0
12,friedlanderalicia,"[12.2, 15.3]",0.0,1.5,28.5
13,gallegosbrigidavince,[3.1],0.0,2.0,28.0
14,garciaariasmanuel,[12.2],0.0,1.0,29.0
15,goodyeardanielle,[3.1],0.0,2.0,28.0
16,hardingcarol,[3.1],0.0,2.0,28.0
17,jenkinscaleb,[0.1],0.0,0.0,30.0
18,katzkeiara,[0.2],0.0,30.0,0.0
19,kimwilliam,[0.1],0.0,0.0,30.0
20,kuangbrian,[0.1],0.0,0.0,30.0
21,kuromiclaire,[12.2],0.0,1.0,29.0
22,laumarco,"[3.2, 12.2]",0.0,1.5,28.5
23,leestone,[12.2],0.0,1.0,29.0
24,mafrangonzalezrolando,[0.1],0.0,0.0,30.0
25,maximojustinemmanuel,"[15.4, 15.5]",0.0,2.0,28.0
26,meridadairene,[3.1],0.0,2.0,28.0
27,moralessanchezfernanda,"[3.1, 6.1, 8.1, 10.1, 11.1, 12.5, 13.1, 14.2, ...",0.0,12.5,17.5
28,morgansean,[0.1],0.0,0.0,30.0
29,mykkanencameron,[0.1],0.0,0.0,30.0
30,poirierbradley,"[3.1, 12.3, 12.4]",0.0,4.0,26.0
31,rawlingspreston,[12.2],0.0,1.0,29.0
32,rioscruzmonserrat,[0.1],0.0,0.0,30.0
33,rosalescruz,"[3.1, 12.2, 15.2]",0.0,5.0,25.0
34,santosrobert,[12.2],0.0,1.0,29.0
35,sarromichael,"[3.1, 12.2]",0.0,3.0,27.0
36,scottgenesis,[0.1],0.0,0.0,30.0
37,shencheryuval,[0.1],0.0,0.0,30.0
38,stonejosiah,[0.1],0.0,0.0,30.0
39,thomaslokarmadison,[0.2],0.0,30.0,0.0
40,underwoodalan,[3.1],0.0,2.0,28.0
41,velascovictoria,[0.1],0.0,0.0,30.0
42,whitingjace,[0.0],25.0,0.0,5.0
43,yaneleanor,[3.1],0.0,2.0,28.0
44,youngashley,"[3.1, 12.2]",0.0,3.0,27.0

import tkinter as tk
from tkinter import simpledialog

root = tk.Tk()
root.withdraw()
user_input = simpledialog.askstring("Input","Enter input:")
print("You entered:",user_input)

In [22]:
test = 4
str(test).split(',')

['4']